body {
  font-family: "Open Sans", sans-serif;
  background: white;
  margin: 0;
}
body header {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
}
body header nav {
  width: 100%;
}
body header nav ul {
  display: flex;
  padding: 0;
  float: right;
}
body header nav ul li {
  list-style: none;
  display: flex;
  padding: 0 10px;
}
body header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease;
}
body header nav ul li a:hover {
  border-bottom: 2px solid white;
}
body section {
  width: calc(100% - 6em);
  margin: 0 auto;
}
body section.hero {
  background-image: url(images/hero.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
}
body section.hero .hero-text {
  color: white;
  width: 100%;
}
@media screen and (min-width: 768px) {
  body section.hero .hero-text {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  body section.hero .hero-text {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  body section.hero .hero-text {
    width: 30%;
  }
}
body section.hero .hero-text h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}
body section.hero .hero-text p {
  line-height: 2em;
}
body section.beers {
  transition: 0.3s all ease;
}
body section.beers #beers_0 {
  padding: 3em 0;
  padding-bottom: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body section.beers article.beverage-box {
  width: 100%;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  body section.beers article.beverage-box {
    width: 45%;
    margin: 0 2.5%;
    padding-bottom: 3em;
  }
}
@media screen and (min-width: 992px) {
  body section.beers article.beverage-box {
    width: 30%;
    margin: 0 calc(100%/100);
  }
}
body section.beers article.beverage-box p {
  font-size: 14px;
  line-height: 1.875em;
}
@media screen and (min-width: 768px) {
  body section.beers article.beverage-box p {
    height: 35%;
    margin-bottom: 10%;
    overflow-y: scroll;
  }
}
body section.beers article.beverage-box .image-bg {
  width: 100%;
  background-color: #2897b1;
  text-align: center;
}
body section.beers article.beverage-box .image-bg .hearts {
  position: absolute;
  margin: 15px;
}
body section.beers article.beverage-box .image-bg .hearts .heart {
  position: relative;
  right: 0;
  top: 0;
}
body section.beers article.beverage-box .image-bg .hearts .heart.transparent {
  position: absolute;
}
body section.beers article.beverage-box .image-bg .hearts .heart.solid {
  opacity: 0;
}
body section.beers article.beverage-box img.beverage {
  padding: 15px;
  max-height: 125px;
}
body section.beers article.beverage-box img.beverage p {
  margin: 0;
}
body section.beers article.beverage-box.active .heart.transparent {
  opacity: 0;
}
body section.beers article.beverage-box.active .heart.solid {
  opacity: 1;
}
body section.beers article.beverage-box:hover {
  transition: 0.3s all ease;
}
body footer {
  text-align: center;
}
body footer .logo-section {
  background: black;
  padding: 30px 0;
}
body footer .legal-section {
  background-color: #182629;
  color: white;
  padding: 20px;
}

.contain {
  padding: 0 3em;
  width: 100%;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
